DATABASE_URL=
MONGO_URI=
JWT_SECRET=
PAYMENT_API_KEY=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_URL=
STRIPE_SECRET_KEY=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
